<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <footer class="w-full h-[380px] bg-gray-800 text-white px-4 py-8">
        <div class="max-w-6xl mx-auto h-full flex flex-col justify-between">
            <!-- 상단 콘텐츠 -->
            <div class="flex flex-col items-center text-center md:flex-row md:justify-between md:items-start md:text-left">
                <div class="text-xl font-semibold mb-4">터마루</div>
                <!-- Left -->
                <div>
                    <ul class="space-y-2 text-sm text-gray-200">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>

                <!-- Divider -->
                <div class="hidden md:block border-l h-24 mx-10 border-white"></div>

                <!-- Center -->
                <div>
                    <ul class="space-y-2 text-sm text-gray-200">
                        <li>
                            <a href="../usr/lh/notice">공고문</a>
                        </li>
                        <li>
                            <a href="../property/upload">등기부등본</a>
                        </li>
                        <li>
                            <a href="../map/riskMap">위험도 분석</a>
                        </li>
                        <li>
                            <a href="../map/correlationMap">유동인구 / 매출</a>
                        </li>
                    </ul>
                </div>

                <!-- Divider -->
                <div class="hidden md:block border-l h-24 mx-10 border-white"></div>

                <!-- Right -->
                <div class="hidden md:block w-40"></div>
            </div>

            <!-- 하단 고정 저작권 -->
            <div class="text-center text-xs space-y-1">
                <p>Team Project</p>
                <p>Copyright 2025. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>
