<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">


    <header class="flex justify-between items-center w-screen bg-white">
        <a href="../home/main"
           class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-60 relative overflow-hidden gap-2.5"
        >
            <img
                    src="/images/로고.png"
                    class="self-stretch flex-grow-0 flex-shrink-0 h-[100px] object-cover cursor-pointer"
            />
        </a>
        <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative">
            <div class="flex flex justify-center items-center flex-grow-0 flex-shrink-0 w-60 h-[100px] relative overflow-hidden">
                <p class="text-[22px] text-left text-black">상권 분석</p>
            </div>
            <div class="flex flex justify-center items-center flex-grow-0 flex-shrink-0 w-60 h-[100px] relative overflow-hidden">
                <p class="text-[22px] text-left text-black">부동산 매물</p>
            </div>
            <div class="flex flex justify-center items-center flex-grow-0 flex-shrink-0 w-60 h-[100px] relative overflow-hidden">
                <p class="text-[22px] text-left text-black">상가 청약</p>
            </div>
            <a href="../member/login" class="flex flex justify-center items-center flex-grow-0 flex-shrink-0 w-60 h-[100px] relative overflow-hidden cursor-pointer">
                <p class="text-[22px] text-left text-black">로그인</p>
            </a>
        </div>
    </header>

</div>
