<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">

    <div id="header-wrapper"
         class="w-full h-[100px] flex items-center justify-between px-5 box-border border-gray-300"
         style="background-image: url('/images/헤더 영역 이미지.png'); background-size: cover; background-position: center;">
        <div id="header-bar"
             class="fixed top-0 left-0 w-full h-[100px] hover:bg-white flex items-center justify-between px-5 box-border border-gray-300">
            <div class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-60 relative overflow-hidden gap-2.5">
                <a href="../home/main">
                    <img src="/images/로고.png"
                         class="self-stretch flex-shrink-0 h-[100px] object-cover cursor-pointer"/>
                </a>
            </div>
            <nav class="w-[60%] text-center">
                <ul class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative">
                    <li>
                        <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[240px] h-[100px] relative overflow-hidden">
                            <p class="text-[22px] text-black">상권 분석</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[240px] h-[100px] relative overflow-hidden">
                            <p class="text-[22px] text-black">부동산 매물</p>
                        </div>
                    </li>
                    <li id="menu-expand-trigger">
                        <div class="flex hover:cursor-pointer justify-center items-center flex-grow-0 flex-shrink-0 w-[240px] h-[100px] relative overflow-hidden">
                            <p class="text-[22px] text-black">상가 청약</p>
                        </div>
                    </li>
                    <li>
                        <a href="../member/joinAndLogin"
                           class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[240px] h-[100px] relative overflow-hidden cursor-pointer">
                            <p class="text-[22px] text-black">로그인</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script>
        const headerWrapper = document.getElementById('header-wrapper');
        const menuTrigger = document.getElementById('menu-expand-trigger');

        menuTrigger.addEventListener('mouseenter', () => {
            headerWrapper.classList.remove('h-[100px]');
            headerWrapper.classList.add('h-[380px]');
        });

        menuTrigger.addEventListener('mouseleave', () => {
            headerWrapper.classList.remove('h-[380px]');
            headerWrapper.classList.add('h-[100px]');
        });
    </script>

</header>
