<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">

    <div class="w-full h-[380px] box-border"
         style="background-image: url('/images/헤더 영역 이미지.png'); background-size: cover; background-position: center;">
        <div id="header-wrapper"
             class="w-full h-[100px] hover:bg-white flex items-start justify-between">

            <div class="w-[240px] h-[100px] flex justify-start items-start">
                <a href="../home/main" class="h-full flex items-center">
                    <img src="/images/로고.png"
                         class="object-contain cursor-pointer"/>
                </a>
            </div>

            <nav class="w-[60%] text-center">
                <ul class="flex justify-center items-center relative">
                    <li>
                        <a href="../map/commercialZoneMap"
                           class="flex justify-center items-center w-[240px] h-[100px] relative cursor-pointer">
                            <p class="text-[22px] text-black">상권 분석</p>
                        </a>
                    </li>
                    <li>
                        <div class="flex justify-center items-center w-[240px] h-[100px] relative">
                            <p class="text-[22px] text-black">부동산 매물</p>
                        </div>
                    </li>
                    <li id="menu-bar">
                        <div class="flex justify-center items-center w-[240px] h-[100px] relative cursor-point">
                            <p class="text-[22px] text-black">상가 청약</p>
                        </div>

                        <!-- 하단 텍스트 메뉴 -->
                        <div id="sub-menubar"
                             class="absolute hidden flex-col items-center top-full left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300 text-center bg-gray-300">
                            <a href="#" class="hover:underline">청약 알림</a>
                            <a href="#" class="hover:underline">공고문</a>
                            <a href="../member/usr/member/conditionalLogout" class="hover:underline">로그아웃</a>
                        </div>
                    </li>
                    <li>
                        <a href="../member/joinAndLogin"
                           class="flex justify-center items-center w-[240px] h-[100px] relative cursor-pointer">
                            <p class="text-[22px] text-black">로그인</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="w-full flex justify-center items-center gap-16 mt-[100px]">
            <!-- 첫 번째 아이콘 -->
            <div class="w-[100px] h-[100px] rounded-[10px] bg-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 24 24">
                    <path fill="#E94876" fill-rule="evenodd" d="M14 20.5V4.25c0-.728-.002-1.2-.048-1.546c-.044-.325-.115-.427-.172-.484s-.159-.128-.484-.172C12.949 2.002 12.478 2 11.75 2s-1.2.002-1.546.048c-.325.044-.427.115-.484.172s-.128.159-.172.484c-.046.347-.048.818-.048 1.546V20.5z" clip-rule="evenodd" />
                    <path fill="#E94876" d="M8 8.75A.75.75 0 0 0 7.25 8h-3a.75.75 0 0 0-.75.75V20.5H8zm12 5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75v6.75H20z" opacity="0.7" />
                    <path fill="#E94876" d="M1.75 20.5a.75.75 0 0 0 0 1.5h20a.75.75 0 0 0 0-1.5z" opacity="0.5" />
                </svg>
            </div>

            <!-- 두 번째 아이콘 -->
            <div class="w-[100px] h-[100px] rounded-[10px] bg-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 24 24">
                    <g fill="#3D9ECC">
                        <path d="M9.883 2.207a1.9 1.9 0 0 1 2.087 1.522l.025.167L12 4v7a1 1 0 0 0 .883.993L13 12h6.8a2 2 0 0 1 2 2a1 1 0 0 1-.026.226A10 10 0 1 1 9.504 2.293l.27-.067z"/>
                        <path d="M14 3.5V9a1 1 0 0 0 1 1h5.5a1 1 0 0 0 .943-1.332a10 10 0 0 0-6.11-6.111A1 1 0 0 0 14 3.5"/>
                    </g>
                </svg>
            </div>

            <!-- 세 번째 아이콘 -->
            <div class="w-[100px] h-[100px] rounded-[10px] bg-white flex items-center justify-center">
                <!-- 아이콘 고민 -->
            </div>

            <!-- 네 번째 아이콘 -->
            <div class="w-[100px] h-[100px] rounded-[10px] bg-white flex items-center justify-center">
                <!-- 아이콘 고민 -->
            </div>

            <!-- 다섯 번째 아이콘 -->
            <div class="w-[100px] h-[100px] rounded-[10px] bg-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 24 24">
                    <g fill="none" stroke="#C5D54A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M12 3v2" />
                        <path fill="#C5D54A" d="M12 5c-3.31 0 -6 2.69 -6 6l0 6c-1 0 -2 1 -2 2h8M12 5c3.31 0 6 2.69 6 6l0 6c1 0 2 1 2 2h-8" />
                        <path d="M10 20c0 1.1 0.9 2 2 2c1.1 0 2 -0.9 2 -2" />
                    </g>
                </svg>
            </div>
        </div>
    </div>

    <script>
        const header = document.getElementById('header-wrapper');
        const menuBar = document.getElementById('menu-bar');
        const subMenu = document.getElementById('sub-menubar');

        let hoverTimeout;

        const expandHeader = () => {
            clearTimeout(hoverTimeout);
            header.classList.remove('h-[100px]');
            header.classList.add('h-[250px]');
            subMenu.classList.remove('opacity-0', 'hidden');
            subMenu.classList.add('opacity-100', 'flex');
        };

        const collapseHeader = () => {
            hoverTimeout = setTimeout(() => {
                header.classList.remove('h-[250px]');
                header.classList.add('h-[100px]');
                subMenu.classList.remove('flex', 'opacity-100');
                subMenu.classList.add('hidden', 'opacity-0');
            }, 100); // 짧은 시간 주는 건 사용자의 빠른 이동 방지용
        };

        menuBar.addEventListener('mouseenter', expandHeader);
        menuBar.addEventListener('mouseleave', collapseHeader);
        subMenu.addEventListener('mouseenter', expandHeader);
        subMenu.addEventListener('mouseleave', collapseHeader);
    </script>

</header>
