<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head"></head> <!-- ✅ 공백 제거 -->
<script>


    // 비밀번호 눈 누르면 보이게하기
    function showPassword(el) {
        const $pwInput = $("#loginPw");
        const currentType = $pwInput.attr("type");

        if (currentType === "password") {
            $pwInput.attr("type", "text");
            $(el).removeClass("fa-eye").addClass("fa-eye-slash");
        } else {
            $pwInput.attr("type", "password");
            $(el).removeClass("fa-eye-slash").addClass("fa-eye");
        }
    }

    // 이름 input 유효성 검사
    function checkName(isSubmit = false) {
        const $input = $("#name");
        const $msg = $(".nameCheck-msg")
        const val = $input.val();
        const $line = $("#nameLine path");
        const nameRegex = /^([가-힣]{2,20}|[a-zA-Z]{2,20}(?:\s[a-zA-Z]{2,20})*)$/;
        const hasKoreanWithSpace = /[가-힣]+\s+[가-힣]+/;

        $msg.removeClass("hidden");
        $line.attr("stroke", "red");
        $line.attr("stroke-opacity", "1");
        $input.addClass("placeholder-red-500");

        if (val.length === 0) {
            $msg.html("이름을 입력해주세요.")
            if (isSubmit) alert("이름을 입력해주세요.");
            return false;

        } else if (hasKoreanWithSpace.test(val)) {
            $msg.html("한글 이름에는 공백을 포함할 수 없습니다.");
            if (isSubmit) alert("한글 이름에는 공백을 포함할 수 없습니다.");
            return false;
        } else if (!nameRegex.test(val)) {
            $msg.html("이름 형식에 맞게 입력해주세요.");
            if (isSubmit) alert("이름 형식에 맞게 입력해주세요.");
            return false;
        } else {
            $line.attr("stroke", "#1A1717");
            $line.attr("stroke-opacity", "0.38");
            $input.removeClass("placeholder-red-500");
            $msg.addClass("hidden");
            return true;
        }
    }

    // 이메일 input 유효성 검사
    function checkEmail(isSubmit = false) {
        const $input = $("#email");
        const $msg = $(".emailCheck-msg")
        const val = $input.val();
        const $line = $("#emailLine path");
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        $msg.removeClass("hidden");
        $line.attr("stroke", "red");
        $line.attr("stroke-opacity", "1");
        $input.addClass("placeholder-red-500");
        if (val.length === 0) {
            $msg.html("이메일을 입력해주세요.")
            if (isSubmit) alert("이메일을 입력해주세요.");
            return false;
        } else if (!emailRegex.test(val)) {
            $msg.html("이메일 형식에 맞게 입력해주세요.")
            if (isSubmit) alert("이메일 형식에 맞게 입력해주세요.");
            return false;
        } else {
            $line.attr("stroke", "#1A1717");
            $line.attr("stroke-opacity", "0.38");
            $input.removeClass("placeholder-red-500");
            $msg.addClass("hidden");
            return true;
        }
    }

    // 비밀번호 input 유효성 검사
    function checkPassword(isSubmit = false) {
        const $input = $("#loginPw")
        const $msg = $(".passwordCheck-msg")
        const val = $input.val();
        const $line = $("#passwordLine path");
        const pwRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()_+=\-{}[\]:;"'<>,.?/~`])[A-Za-z\d!@#$%^&*()_+=\-{}[\]:;"'<>,.?/~`]{8,20}$/;

        $msg.removeClass("hidden");
        $line.attr("stroke", "red");
        $line.attr("stroke-opacity", "1");
        $input.addClass("placeholder-red-500");
        if (val.length === 0) {
            $msg.html("비밀번호를 입력해주세요.")
            if (isSubmit) alert("비밀번호를 입력해주세요.");
            return false;
        } else if (!pwRegex.test(val)) {
            $msg.html("비밀번호는 영문, 숫자, 특수문자를 포함해 8~20자로 입력해주세요.");
            if (isSubmit) alert("비밀번호는 영문, 숫자, 특수문자를 포함해 8~20자로 입력해주세요.");
            return false;
        } else {
            $line.attr("stroke", "#1A1717");
            $line.attr("stroke-opacity", "0.38");
            $input.removeClass("placeholder-red-500");
            $msg.addClass("hidden");
            return true;
        }
    }

    // 전화번호 input 유효성 검사
    function checkPhoneNum(isSubmit = false) {
        const $input = $("#phoneNum")
        const $msg = $(".phoneNumCheck-msg")
        const val = $input.val();
        const $line = $("#phoneNumLine path");

        $msg.removeClass("hidden");
        $line.attr("stroke", "red");
        $line.attr("stroke-opacity", "1");
        $input.addClass("placeholder-red-500");
        if (val.length === 0) {
            $msg.html("전화번호를 입력해주세요.")
            if (isSubmit) alert("전화번호를 입력해주세요.");
            return false;
        } else if (val.length < 13) {
            $msg.html("전화번호를 정확히 입력해주세요.")
            if (isSubmit) alert("전화번호를 정확히 입력해주세요.");
            return false;
        } else {
            $line.attr("stroke", "#1A1717");
            $line.attr("stroke-opacity", "0.38");
            $input.removeClass("placeholder-red-500");
            $msg.addClass("hidden");
            return true;
        }
    }


    $(document).ready(function () {

        // input 칸에서 마우스 뗐을 때
        $("#name").on("blur", function () {
            checkName(false);
        });
        $("#email").on("blur", function () {
            checkEmail(false);
        });
        $("#loginPw").on("blur", function () {
            checkPassword(false);
        });


        // 번호 input 관련 코드
        $("#phoneNum")
            // "-" 추가해주기
            .on("input", function () {
                let num = $(this).val().replace(/[^0-9]/g, "");
                if (num.length < 4) {
                    $(this).val(num);
                } else if (num.length < 8) {
                    $(this).val(num.slice(0, 3) + "-" + num.slice(3));
                } else {
                    $(this).val(num.slice(0, 3) + "-" + num.slice(3, 7) + "-" + num.slice(7, 11));
                }
            })
            // 아무것도 입력 안 했을 때 경고해주기
            .on("blur", function () {
                checkPhoneNum(false);
            });


    });

    // submut 눌렀을 떄
    function handleSubmit(e) {
        e.preventDefault(); // 전송 막기

        const isValid =
            checkName(true) &&
            checkEmail(true) &&
            checkPassword(true) &&
            checkPhoneNum(true);

        console.log(isValid);
        console.log("실행됨1");
        if (isValid) {
            console.log("실행됨2");
            $("#createAccountForm").submit(); // ✅ 수동 제출
        }
    }


</script>

<div
        class="flex flex-col justify-center items-center w-screen h-screen overflow-hidden gap-2.5 px-[75px] py-[50px] bg-white"
>
    <div
            class="flex justify-start items-start flex-grow-0 flex-shrink-0 w-[1326px] h-[884px] relative overflow-hidden gap-2.5 p-2.5"
            style="filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.25));"
    >
        <img src="/images/로그인 배경사진.png" class="flex-grow-0 flex-shrink-0 w-[1326px] h-[883px] object-cover"/>
        <div
                class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 h-[883px] w-[607px] absolute left-[719px] top-2.5 overflow-hidden gap-[30px] py-[11px] rounded-tl-3xl rounded-bl-3xl bg-white"
                style="box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.25);"
        >
            <div
                    class="flex justify-between items-center self-stretch flex-grow-0 flex-shrink-0 h-[34px] relative p-2.5"
            >
                <a href="../home/main" class="cursor-pointer"><img
                        src="/images/로고.png"
                        class="flex-grow-0 flex-shrink-0 w-[140px] h-[55px] object-cover"
                /></a>
                <div
                        class="flex justify-start items-center flex-grow-0 flex-shrink-0 relative overflow-hidden py-6"
                >

                    <p class="flex-grow-0 flex-shrink-0 text-base text-left text-[#1a1717]/[0.53]">
                        English (UK)
                    </p>
                    <svg
                            width="17"
                            height="18"
                            viewBox="0 0 17 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-grow-0 flex-shrink-0 w-4 h-4 relative"
                            preserveAspectRatio="none"
                    >
                        <g clip-path="url(#clip0_34_35)">
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M9.50432 15.4628C9.39968 15.6319 9.25228 15.7704 9.07701 15.8643C8.90174 15.9581 8.7048 16.0041 8.50608 15.9975C8.30736 15.9909 8.11389 15.932 7.94521 15.8268C7.77654 15.7215 7.63862 15.5736 7.54539 15.398L1.0783 3.51042C0.647305 2.71772 1.22874 1.74743 2.11625 1.77682L15.8237 2.23076C16.7122 2.26018 17.2272 3.26778 16.7447 4.02922L9.50432 15.4628Z"
                                    fill="#1A1717"
                                    fill-opacity="0.38"
                            ></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_34_35">
                                <rect
                                        width="16"
                                        height="16"
                                        fill="white"
                                        transform="translate(16.4705 17.2604) rotate(-178.103)"
                                ></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div
                    class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 pl-[25px] pr-2.5 py-2.5"
            >
                <p class="flex-grow w-[572px] text-2xl font-bold text-left text-[#181818]">
                    Create Account
                </p>
            </div>
            <div
                    class="flex justify-center items-center self-stretch flex-grow-0 flex-shrink-0 h-[91px] relative overflow-hidden gap-[45px] px-[29px] py-[13px]"
            >
                <a href="../member/loginKakao">
                    <img src="/images/카카오로그인.png"
                         class="flex-grow-0 flex-shrink-0 w-[220px] h-[54px] object-cover cursor-pointer"
                    />
                </a>

                <a href="../member/loginNaver">
                    <img src="/images/네이버로그인.png"
                         class="flex-grow-0 flex-shrink-0 w-[249px] h-[54px] object-cover cursor-pointer"
                    />
                </a>
            </div>
            <div
                    class="flex justify-start items-start flex-grow-0 flex-shrink-0 w-[91px] relative gap-2.5 p-2.5 bg-white"
            >
                <p class="flex-grow w-[71px] text-2xl font-bold text-left text-[#1a1717]/[0.38]">-OR-</p>
            </div>

            <form action="createAccount" method="post" id="createAccountForm">
                <div
                        class="flex flex-col justify-start items-end flex-grow-0 flex-shrink-0 w-[546px] overflow-hidden gap-[40px] px-[22px] py-[13px]"
                >

                    <div
                            class=" flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 h-12 relative"
                    >
                        <label>
                            <input type="text" placeholder="Full Name" autocomplete="off" name="name" id="name"
                                   class="self-stretch flex-grow-0 flex-shrink-0 w-[502px] text-left text-2xl outline-none focus:outline-none focus:border-none"/>

                            <svg
                                    id="nameLine"
                                    width="503"
                                    height="2"
                                    viewBox="0 0 503 2"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="flex-grow-0 flex-shrink-0"
                                    preserveAspectRatio="none"
                            >

                                <path d="M0.5 1H502.5" stroke="#1A1717" stroke-opacity="0.38"></path>
                            </svg>
                        </label>

                        <div class="nameCheck-msg text-red-500 mt-2 flex hidden w-[502px]"></div>

                    </div>
                    <div
                            class=" flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 h-12 relative"
                    >
                        <label>
                            <input type="text" placeholder="Email Address" autocomplete="off" name="email" id="email"
                                   class="self-stretch flex-grow-0 flex-shrink-0 w-[502px] text-xl text-left text-2xl outline-none focus:outline-none focus:border-none"
                            />


                            <svg
                                    id="emailLine"
                                    width="503"
                                    height="2"
                                    viewBox="0 0 503 2"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="flex-grow-0 flex-shrink-0"
                                    preserveAspectRatio="none"
                            >
                                <path d="M0.5 1H502.5" stroke="#1A1717" stroke-opacity="0.38"></path>
                            </svg>

                        </label>
                        <div class="emailCheck-msg text-red-500 mt-2 flex hidden w-[502px]"></div>
                    </div>
                    <div
                            class=" flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 h-12 relative"
                    >
                        <label>
                            <input type="password" placeholder="Password" name="loginPw" id="loginPw" autocomplete="off"
                                   class="self-stretch flex-grow-0 flex-shrink-0 w-[502px] text-xl text-left text-2xl outline-none focus:outline-none focus:border-none"
                            />

                            <svg
                                    id="passwordLine"
                                    width="503"
                                    height="2"
                                    viewBox="0 0 503 2"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="flex-grow-0 flex-shrink-0"
                                    preserveAspectRatio="none"
                            >
                                <path d="M0.5 1H502.5" stroke="#1A1717" stroke-opacity="0.38"></path>
                            </svg>

                        </label>
                        <div class="passwordCheck-msg text-red-500 mt-2 flex hidden w-[502px]"></div>
                        <i onClick="showPassword(this);"
                           class="fa-solid fa-eye absolute top-0 right-0 text-2xl cursor-pointer"></i>
                    </div>

                    <div
                            class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 h-12 relative"
                    >
                        <label>
                            <input type="text" placeholder="PhoneNumber" name="phoneNum" autocomplete="off"
                                   maxlength="13"
                                   id="phoneNum"
                                   class="self-stretch flex-grow-0 flex-shrink-0 w-[502px] text-xl text-left text-2xl outline-none focus:outline-none focus:border-none"
                            />

                            <svg
                                    id="phoneNumLine"
                                    width="503"
                                    height="2"
                                    viewBox="0 0 503 2"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="flex-grow-0 flex-shrink-0"
                                    preserveAspectRatio="none"
                            >
                                <path d="M0.5 1H502.5" stroke="#1A1717" stroke-opacity="0.38"></path>
                            </svg>

                        </label>

                        <div class="phoneNumCheck-msg text-red-500 mt-2 flex hidden w-[502px]"></div>
                    </div>

                </div>
            </form>
            <button form="createAccountForm" onClick="handleSubmit(event);"
                    class="flex justify-start items-start flex-grow-0 flex-shrink-0 w-[502px] h-12 relative gap-2.5 p-2.5 rounded-lg bg-[#279574] cursor-pointer"
            >
                <p
                        class="flex-grow w-[482px] text-xl font-semibold text-center text-white ">
                    Create Account
                </p>
            </button>


            <a href="login"
               class="flex justify-start items-start flex-grow-0 flex-shrink-0 w-[330px] h-11 relative gap-2.5 p-2.5 cursor-pointer"
            >
                <p class="flex-grow w-[310px] text-xl font-medium text-center">
          <span class="flex-grow w-[310px] text-xl font-medium text-center text-black/30"
          >Already have an account ?</span
          ><span class="flex-grow w-[310px] text-xl font-medium text-center text-black/[0.12]">
          </span
          ><span class="flex-grow w-[310px] text-xl font-medium text-center text-[#54beb8]"
                >Login</span
                >
                </p>
            </a>
        </div>
    </div>
</div>

