<div th:fragment="chatbot" xmlns:th="http://www.thymeleaf.org">
    <div class="chatbot fixed bottom-20 right-5 flex flex-col justify-between items-center w-[350px] h-[600px] hidden rounded-[10px] bg-[#7aaec1] border border-black z-[9999]">
        <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[350px] relative overflow-hidden border-t-0 border-r-0 border-b border-l-0 border-black">
            <img src="/images/상담봇_미니ver.png"
                 class="flex-grow-0 flex-shrink-0 w-[50px] h-[50px] rounded-tl-[75px] object-cover"/>
            <p class="flex-grow-0 flex-shrink-0 w-[250px] text-xl text-center text-black">터마루 상담봇</p>

            <i class="fa-solid fa-xmark fa-2x flex-grow-0 flex-shrink-0 rounded-tr-[25px] object-cover"></i>
        </div>
        <div id="chat-box"
             class="flex flex-col justify-start items-start self-stretch flex-grow w-[350px] h-[450px] overflow-auto gap-2.5 p-2.5"></div>
        <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-[350px] relative overflow-hidden border-t border-black ">
            <form id="chatForm" onsubmit="sendMessage(); return false;" class="flex w-full">
                <input type="text"
                       id="chatbotText"
                       class="flex justify-center items-center flex-grow relative overflow-hidden gap-2.5 py-[25px] bg-white pl-1 border-none focus:outline-none"
                       placeholder="무엇이든 물어보세요"
                       autocomplete="off"
                >
                <button type="submit" class="cursor-pointer w-[50px] flex justify-center items-center">
                    <i class="fa-solid fa-arrow-right fa-2x flex-grow-0 flex-shrink-0 rounded-[512px] object-cover"></i>
                </button>
            </form>
        </div>
    </div>

    <img onClick="toggleChatBotUI();"
         src="/images/상담봇_아이콘.png"
         class="w-[50px] h-[50px] rounded-[202.5px] object-cover border border-black fixed bottom-5 right-5 cursor-pointer z-[9999]"/>

    <script type="text/javascript" th:src="@{/js/chatbot.js}"></script>
</div>