<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>PDF 읽기 결과</title>
    <style>
        img {
            display: block;
            max-width: 100%;
            margin-bottom: 30px;
            border: 1px solid #ccc;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
<div th:text="${pdfText}"></div>
<h1>PDF 이미지 출력</h1>
<div class="image-container">
    <th:block th:each="img : ${images}">
        <img th:src="${img}" alt="PDF 이미지" />
    </th:block>
</div>
</body>
</html>