<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head"></head>
<footer th:replace="common/header::header"></footer>


<!--<script>-->
<!--    // 카카오 지도 생성-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--        kakao.maps.load(function () {-->
<!--            var mapContainer = document.getElementById('map'), // 지도를 표시할 div-->
<!--                mapOption = {-->
<!--                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표-->
<!--                    level: 3 // 지도의 확대 레벨-->
<!--                };-->
<!--            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다-->
<!--            var map = new kakao.maps.Map(mapContainer, mapOption);-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!--<div id="map" style="width:100%;height:350px;"></div>-->


<script>
    $(document).ready(function () {
        $('#sggSelect').on('change', function () {
            const sgg = $(this).val();

            // 행정동 초기화
            $('#emdSelect').empty().append('<option value="">행정동</option>');

            if (sgg) {
                $.ajax({
                    url: 'getEmds',
                    method: 'GET',
                    data: {sgg: sgg},
                    success: function (adminDongs) {

                        $.each(adminDongs, function (index, adminDong) {
                            $('#emdSelect').append(
                                $('<option>', {value: adminDong.emdNm, text: adminDong.emdNm})
                            );
                        });
                    },
                    error: function () {
                        alert('행정동 정보를 가져오는데 실패했습니다.');
                    }
                });
            }
        });
    });

</script>


<ul class="flex justify-center items-center w-[450px] h-[47px] overflow-hidden gap-[37px] px-[46px] py-[15px] rounded-[10px] bg-white border border-black absolute left-1/2 -translate-x-1/2 top-[100px]">
    <li class="flex justify-center items-center h-[41px] cursor-pointer">

        <select class="flex justify-center items-center text-[22px] text-center text-black" name="sidoSelect"
                id="sidoSelect">
            <option>대전광역시</option>
        </select>

    </li>
    <li class="flex justify-center items-center h-[41px]  ">
        <select class="flex justify-center items-center text-[22px] text-center text-black" name="sggSelect"
                id="sggSelect">
            <option value="">시/군/구</option>
            <option value="동구">동구</option>
            <option value="중구">중구</option>
            <option value="서구">서구</option>
            <option value="유성구">유성구</option>
            <option value="대덕구">대덕구</option>
        </select>
    </li>
    <li class="flex justify-center items-center h-[41px] cursor-pointer">
        <select class="flex justify-center items-center  text-[22px] text-center text-black" name="emdSelect"
                id="emdSelect">
            <option>행정동</option>
        </select>
    </li>
</ul>

