<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head">
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="common/mainHeader::header"></header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:inline="javascript">
    window.LOGIN_MEMBER_ID = /*[[${loginMemberId}]]*/ null;
</script>

<div class="relative w-full h-[440px] bg-[#E94876]"></div>
<div class="relative w-full h-[900px] bg-white"></div>

<script src="/js/main.js"></script>

<footer th:replace="common/footer::footer"></footer>
</body>
</html>